.medium-channel-item{
    position: relative;
    height: 170px;
    display: inline-block;
    margin: 6.5px;
    margin-right: 15px;
    border: 0.5px solid #2f2b45;
}

.carousel-container .medium-channel-item img {
    width: 290px;
    height: 170px;
}

#list-channel-section .medium-channel-item img {
    width: 100%;
    height: 100%;
}

.container-genre{
    position: relative;
    float: left;
    height: 110px;
    margin: 6.5px;
    margin-right: 15px;
    border: 0.5px solid #2d2d2d;
}
.img-genre{
    width: 200px;
    height: 110px;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    height: 26px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
    text-transform: uppercase;
    color: #f1f1f1;
    font-weight: bold;
}
.category-section {
    height: 130px;
}
.group-category-title {
    padding-left: 24px;
    color: #7b7b7b;
    font-size: 22px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
}

.second-level {
    display: none;
    overflow: hidden;
    height: 625px;
}
.dropdown-group {
    display: inline;
    padding-top: 20px;
    padding-left: 60px;
    position: relative;
}

.dropdown-group.active .selected {
    border: none;
    outline: solid #0389bc;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(8,211,247,1);
    -moz-box-shadow: 0px 0px 13px 2px rgba(8,211,247,1);
    box-shadow: 0px 0px 13px 2px rgba(8,211,247,1);
}

.filter-option {
    position: absolute;
    display: none;
    width: 155px;
    background: #ccc;
    color: black;
    z-index: 1;
}

.filter-option li {
    padding-left: 10px;
}

.filter-option .selected-option {
    background: #2aa1f1;
    color: white;
}

#result-channel {
    width: 105%;
    height: 578px;
    overflow: hidden;
}

.category-filter, .channel-sort {
    width: 159px;
    font-size: 17px;
    line-height: 1;
    border: none;
    color: #CBCBCB;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("../img/down-arrow.png") no-repeat right;
    outline: none;
    padding-left: 5px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
}
.category-filter {
    width: 191px;
}
.title-filter, .title-sort {
    font-size: 18px;
    line-height: 1;
    border: none;
    border-bottom: 1px solid #CBCBCB;
    border-radius: 0;
    height: 24px;
    color: #CBCBCB;
    display: inline-block;
    text-align: left;
    margin: 10px 10px 10px 10px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
}
.title-sort{
    width: 200px;
}

.title-filter {
    width: 240px;
}
#list-channel-section {
    padding: 20px 60px 20px 60px;
}
#list-channel-section > div {
    height: 150px;
    padding-left: 10px;
}

#list-channel-section .medium-channel-item {
    width: 210px;
    height: 120px;
    position: relative;
    text-align: center;
    background-color: #202020;
}

#list-channel-section .medium-channel-item:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 110px;
}

#list-channel-section .medium-channel-item img {
    vertical-align: middle;
    display: inline-block;
}

#channel-detail-section .channel-logo:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 110px;
}
#channel-detail-section .channel-logo {
  display: inline-block;
  width: 240px;
  height: 135px;
  text-align: center;
  float:left;
}

#channel-detail-section .channel-logo img {
  vertical-align: middle;
  width: 96%;
  height: 100%;
  padding-left: 2px;
}
 .channel-detail{
    height: 140px;
    padding-top: 20px;
    padding-left: 70px;
    position: relative;
    display: inline-block;
 }
.channel-logo{
  position: relative;
  display: inline-block;
}
.description-channel{
  color: white;
  width: 650px;
  margin-left: 50px;
  float: left;
}
.title{
  font-family: "Proxima Nova Rg Regular", sans-serif;
  color: #bbbbbb;
  font-size: 30px;
  padding-bottom: 10px;
}
.type{
  font-family: "Proxima Nova Rg Regular", sans-serif;
  color: #bbbbbb;
  line-height: 1;
  font-size: 18px;
  padding-bottom: 10px;
}

.description{
  font-family: "Proxima Nova Rg Regular", sans-serif;
  color: #bbbbbb;
  font-size: 18px;
  display: -webkit-box;
  line-height: 1.5;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#detail-channel {
    height: 625px;
}
#detail-channel, #filter-channel {
    display: none;
}
#channel-guide {
    position: fixed;
    top: 50px;
    right: 75px;
    text-align: right;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    color: #787878;
    font-size: 20px;
}

#channel-guide .button {
    background: url("../img/thumb-up.png");
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 17px;
}

#channel-guide .back-button {
    content: '';
    width: 17px;
    height: 17px;
    display: inline-block;
    background: url("../img/btn_back.png") center no-repeat;
    background-size: 17px 17px;
    border-radius: 50px;
}

#list-video {
    margin-top: 40px;
    height: 422px;
    overflow: hidden;
}
#list-video-section > ul {
    height: 160px;
    padding-left: 70px;
    margin-bottom: 35px;
}
#video-container {
    padding-left: 70px;
}
.medium-video-item {
    float: left;
    margin: 6.5px;
    margin-right: 15px;
    border: 1px solid #2d2d2d;
    position: relative;
}

.medium-video-item img {
    width: 260px;
    height: 145px;
}
#hls-video {
    width: 100%;
    height: 100%;
}