#main-wrapper {
    position: fixed;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    background: #121212; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #121212 , #191919); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #121212 , #191919); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #121212 , #191919); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #121212 , #191919); /* Standard syntax (must be last) */
}

.header {
    height: 60px;
    padding: 35px 0 0 35px;
}
.header img {
    float: left;
}
.header .seperate {
    display: none;
    /*display: inline-block;*/
    height: 30px;
    width: 270px;
    background-image: url("../img/seperate.png");
    background-repeat: no-repeat;
    font-family: "Proxima Nova Rg Regular", sans-serif;
    margin: 10px 10px;
    color: #bbbbbb;
    font-size: 30px;
    padding-left: 10px;
}


#left-navigation {
    position: fixed;
    width: 220px;
    left: 0;
    padding-left: 50px;
    top: 100px;
    padding-top: 10px;
    min-height: 600px;
    z-index: 1000;
    transition: width 0.3s;
    -o-transition: width 0.3s;
    font-family: "proxima_nova_thinthin", sans-serif;
}
.left-background {
    position: fixed;
    width: 220px;
    left: 0;
    padding-left: 50px;
    top: 100px;
    min-height: 600px;
    z-index: 999;
    background: #131313;
    opacity: 0.7;
    transition: width 0.3s;
    -o-transition: width 0.3s;
}

.image-button{
    height: 45px;
    width: 215px;
    color: #ccc;
    font-family: "proxima_nova_thinthin", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
}
.menu-min .image-button{
    width: 64px;
}

.image-button:hover, .image-button.focused, .image-button.active, .character-item.selected, .number-item.selected {
    background-color: #125c7f;
    /*border: 1px solid #2b5162;*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
}

.menu-min .image-button:hover, .menu-min .image-button.focused, .menu-min .image-button.active {
    background-color: #303030;
    border: 1px solid #303030;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

.image-button img {
    float: left;
    clear: left;
    width: 32px;
    height: 32px;
    padding: 6px 6px 6px 15px;
}
#menu-channel img {
    padding-top: 10px;
}
.image-button .image-text {
    line-height: 45px;
    padding-left: 55px;
}

.menu-min .image-text {
    visibility: hidden;
}
#right-content {
    width: 1300px;
    position: absolute;
    padding-left: 270px;
    height: 625px;
    color: #ededed;
    transition: padding-left 0.3s;
    -o-transition: padding-left 0.3s;
    overflow: hidden;
}

.first-level {
    width: 100%;
    height: 200%;
}

#video-player, #detail-channel, #hidden-data {
    display: none;
}


.carousel-container {
    white-space: nowrap;
    position: absolute;
    transition: left 0.3s;
    -webkit-transition: left 0.3s;
}

.array-container {
    position: relative;
}

.carousel-section {
    padding-top: 10px;
    padding-left: 20px;
    position: relative; 
}

.carousel-section.active .selected, .array-container.active .selected {
    border: none;
    outline: solid #0389bc;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(8,211,247,1);
    -moz-box-shadow: 0px 0px 13px 2px rgba(8,211,247,1);
    box-shadow: 0px 0px 13px 2px rgba(8,211,247,1);
}

.carousel {
    overflow: hidden;
}
.big-carousel-item {
    position: relative;
    display: inline-block;
    margin: 6.5px;
    margin-right: 25px;
    border: 0.5px solid #2f2b45;
}
/*For 1280x720px*/
.big-carousel-item img {
    width: 380px;
    height: 230px;
}

.medium-carousel-item[data-type=video] img, .medium-carousel-item[data-type=channel] img{
    width: 260px;
    height: 145px;
}

.only-channel.medium-carousel-item[data-type=channel] img{
    width: 100%;
    height: 100%;
}

.medium-carousel-item {
    position: relative;
    display: inline-block;
    margin: 6.5px;
    margin-right: 15px;
    border: 0.5px solid #2d2d2d;
}

.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(64,64,64,0) 0%, rgba(64,64,64,0) 20%, rgba(14,14,14,14) 90%, rgba(14,14,14,14) 100%);
    background: -moz-linear-gradient(to bottom, rgba(64,64,64,0) 0%, rgba(64,64,64,0) 20%, rgba(14,14,14,14) 90%, rgba(14,14,14,14) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(64,64,64,0) 0%, rgba(64,64,64,0) 20%, rgba(14,14,14,14) 90%, rgba(14,14,14,14) 100%);
    background: -o-linear-gradient(to bottom, rgba(64,64,64,0) 0%, rgba(64,64,64,0) 20%, rgba(14,14,14,14) 90%, rgba(14,14,14,14) 100%);
        );
}

.item-overlay-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.title-content {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

.medium-title-content {
    text-align: left;
    color: #fff;
    font-size: 15px;
    width: 80%;
    padding-left: 10px;
    margin-bottom: 10px;
}

.big-title {
    height: 26px;
    font-family: "Proxima Nova SBold", sans-serif;
    text-transform: uppercase;
}

.medium-title {
    height: 20px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channel-title {
    display: inline-block;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}

.big-sub-title {
    height: 30px;
    font-family: "Proxima Nova SBold", sans-serif;
}

.medium-sub-title {
    height: 15px;
    color: #7b7b7b;
    font-family: "Proxima Nova Rg Regular", sans-serif;
}

.carousel-title {
    color: #939393;
    padding-bottom: 15px;
    padding-left: 5px;
    font-size: 20px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
}
.only-channel.medium-carousel-item:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 110px;
}
.only-channel.medium-carousel-item {
    width: 210px;
    height: 110px;
    text-align: center;
    background-color: #202020;
}

.only-channel.medium-carousel-item img {
    vertical-align: middle;
    display: inline-block;
}
.published-time {
    padding-left: 10px;
}

.select-rect {
    display: none;
    position: absolute;
    border: 4px solid #0389bc;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(8,211,247,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(8,211,247,1);
    box-shadow: 0px 0px 20px 0px rgba(8,211,247,1);
}
#dialog {
    width: 1280px;
    height: 720px;
    position: absolute;
    display: none;
}
.dialog-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: #000;
    opacity: .7;
}
.dialog-title {
    color: #ccc;
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.dialog-body {
    width: 600px;
    height: 360px;
    position: absolute;
    background: #000;
    left: 50%;
    top: 50%;
    z-index: 100;
    margin-top: -150px;
    margin-left: -300px;
    border: 1px solid #5e5b5b;
}
.content-message {
    height: 40%;
    font-family: "Proxima Nova Rg Regular", sans-serif;
    color: #f1f1f1;
    font-size: 30px;
    text-align: center;
    padding: 45px;
}
.button-row {
    width: 45%;
    height: 50px;
    float: right;
    margin-right: 50px;
}

.button-row button {
    width: 100%;
    height: 100%;
    font-size: 30px;
    border: none;
    background: transparent;
    color: #f1f1f1;
}

.button-row button.selected {
    background: #d3d3c2;
    color: #292928;
}
.button-row button {
    width: 40%;
    float: left;
    margin-left: 10px;
}
.loading-modal, .loading-video {
    width: 1280px;
    height: 720px;
    background: #000;
    position: absolute;
}
.loading-modal {
    display: block;
}
.loading-video {
    display: none;
}
.loading-modal > div, .loading-video > div {
    display: table-caption;
    text-align: center;
    margin: auto;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.loading-modal > div img {
    margin: 0 auto;
}
.loading-modal > div:nth-child(2) {
    display: none;
}
/*Search page*/
.back-guide {
    display: none;
    color: #787878;
    font-size: 20px;
    text-align: right;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
}
.back-guide .back-button {
    content: '';
    width: 17px;
    height: 17px;
    display: inline-block;
    background: url("../img/btn_back.png") center no-repeat;
    background-size: 17px 17px;
    border-radius: 50px;
}
.search-view {
    position: absolute;
    width: 965px;
    height: 200px;
    padding-top: 25px;
    margin-left: 20px;
    font-family: "proxima_nova_thinthin", sans-serif;
}
.search-view + div {
    padding-top: 220px;
}
.text-label, .number-label, .button-label {
    text-align: center;
    color: #a0a0a0;
    padding-top: 10px;
}

.button-label {
    margin-top: 8px;
}

.character-item, .number-item {
    width: 32px;
    display: inline-block;
    line-height: 1.5;
    font-size: 25px;
    text-align: center;
}

.button-item {
    display: inline-block;
    width: 95px;
    height: 25px;
    background: #262626;
    vertical-align: middle;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding-top: 10px;;
}

.button-item.selected {
    background-color: #125c7f;
    font-weight: bold;
}

.space-item {
    display: inline-block;
    background: url("../img/space.png") no-repeat;
    background-size: 60px 25px;
    width: 60px;
    height: 25px;
    line-height: 1.5;
    margin-top: 6px;
    float: left;
}

.space-item.selected {
    background: url("../img/space-active.png") no-repeat;
    background-size: 60px 25px;
}

.delete-item {
    display: inline-block;
    background: url("../img/backspace-arrow.png") no-repeat;
    background-size: 40px 25px;
    width: 40px;
    height: 25px;
    line-height: 1.5;
    margin-top: 5px;
    float: right;
}

.delete-item.selected {
    background: url("../img/backspace-arrow-active.png") no-repeat;
    background-size: 40px 25px;
}

.search-textfield {
    padding-bottom: 5px;
    border-bottom: 1px solid #a0a0a0;
}

.search-input {
    width: 100%;
    border: none;
    background: transparent;
    height: 30px;
    font-size: 23px;
    outline: none;
    color: #a0a0a0;
    font-family: "proxima_nova_thinthin", sans-serif;
    font-weight: bold;
}

@keyframes fade-in-out {
    from {opacity:0.0;}
    to {opacity:0.0;}
    40%,70% {opacity:0.8;}
}
#notification {
    width: 300px;
    height: 40px;
    background: linear-gradient(rgb(255, 253, 230), rgb(255, 226, 196));
    border: 1px solid;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    margin-right:100px;
    display: block;
    opacity: 0.0;
}
#notification.fade-in-out {
    animation: fade-in-out 5s ease-out;
}