@font-face {
    font-family: "Proxima Nova Rg Regular";
    src: url(../font/ProximaNovaRgRegular.ttf);
}
@font-face {
    font-family: "Proxima Nova Thin";
    src: url(../font/ProximaNova-Thin.ttf);
}
@font-face {
    font-family: "Proxima Nova SBold";
    src: url(../font/ProximaNova-Semibold.ttf);
}
@font-face{
    font-family:'proxima_nova_thinthin';
    src:url(../font/proximanovat-thin-webfont.eot);
    src:url(../font/proximanovat-thin-webfont.eot?#iefix)
    format('embedded-opentype'),
    url(../font/proximanovat-thin-webfont.woff2)
    format('woff2'), url(../font/proximanovat-thin-webfont.woff)
    format('woff'), url('../font/proximanovat-thin-webfont.ttf')
    format('truetype'), url('../font/proximanovat-thin-webfont.svg#proxima_nova_thinthin')
    format('svg'); font-weight:normal; font-style:normal;
}